html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #666;
}

#nav {
    text-align: center;
    padding-top: 50px;
    white-space: nowrap;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: width .5s;
    transition: width .5s;
}

#nav.sided {
    width: 400px;
}

#nav h1 {
    margin: 40px 0 0 0;
    letter-spacing: 5px;
}

#nav h2 {
    margin: 40px 0 0 0;
    letter-spacing: 2px;
}

#nav h5 {
    margin: 10px 0 0 0;
    font-weight: normal;
    letter-spacing: 2px;
}

#nav section {
    margin-top: 30px;
}

#nav section.extra-margin {
    margin-top: 60px;
}

#nav p {
    margin: 5px 0;
    letter-spacing: 1px;
}

#nav ul {
    padding: 0;
    list-style: none;
}

#nav li {
    margin: 5px 0;
    letter-spacing: 1px;
}

#nav a {
    text-decoration: none;
    color: #666;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

#nav a:hover {
    color: #c27c78
}

#nav ul.horizontal {
    margin: 10px 0 0 0;
}

#nav ul.horizontal li {
    display: inline-block;
    font-size: 1.5em;
    margin: 0px 5px;
}
