html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    color: #666;
}

body {
    display: flex;
}

.bunny {
    margin: auto;
    padding-bottom: 0;
}

.bunny img {
    height: 600px;
}

ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

ul.nav a {
    text-decoration: none;
    color: #966551;
}

ul.nav a:hover {
    color: #e0b7a1;
}
