body {
    background-image: url("/assets/image/wall.jpg");
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}

#loading-logo-container {
    z-index: 2000;
    position: fixed;
    width: 300px;
    height: 60px;
    margin: auto;
    top: -90px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#loading-logo {
    position: absolute;
    top: 0;
}

.header {
    top: -50px;
    opacity: 0.0;
}

#home-content-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 400px;
    margin-top: -200px;
}

#title {
    width: 100%;
    height: 120px;
}

#title h1 {
    font-size: 2.5em;
    letter-spacing: 10px;
}

#title p {
    letter-spacing: 5px;
}

#icons {
    width: 100%;
    height: 120px;
}

.icon {
    display: inline-block;
    margin: 5px;
    width: 100px;
    height: 100px;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.icon img {
    width: 100%;
    height: 100%;
}

#contents {
    width: 100%;
    height: 120px;
}

#contents h2 {
    letter-spacing: 6px;
}

#contents p {
    letter-spacing: 2px;
}

#contents a {
    font-weight: bold;
}

.panel p , .panel li {
    font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", "Microsoft Yahei", "微软雅黑", serif;
}

.panel h1 {
    letter-spacing: 3px;
}

.panel h2 {
    letter-spacing: 2px;
}

.tile {
    width: 400px;
    height: 300px;
    float: left;
}

#panel-3 {
    text-align: left;
    top: 100px;
    width: 800px;
    height: 825px;
    padding: 0 100px 0 100px;
}

.image-wrapper {
    float: right;
    margin: 20px;
    text-align: center;
}

.image-wrapper p {
    margin: 0;
}

.content {
    display: none;
}