.panel {
    color: white;
    margin-top: -50px;
}

#lrc-editor-title {
    position: relative;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

#lrc-editor-title p {
    font-size: 200%;
}

#file-uploader-wrapper {
    position: relative;
    height: 25px;
    margin-bottom: 10px;
}

#file-uploader {
    height: 25px;
    opacity: 0.0;
    width: 100%;
}

#file-uploader:hover ~ #file-uploader-display {
    color: white;
}

#file-uploader-display {
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    width: 100%;
    color: #66ccff;
    text-decoration: underline;
    z-index: -1000;
    -webkit-transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -ms-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

audio::-webkit-media-controls-enclosure {
    max-width: 100%;
}

audio#player {
    width: 100%;
}

#lyric-editor {
    height: 600px;
    width: 960px;
    border: none;
    color: white;
    line-height: 1em;
    margin: 10px 0 10px 0;
    padding: 20px;
    overflow: auto;
    background-color: rgba(102, 204, 255, 0.1);
}

.tool-wrapper {
    display: inline;
    position: relative;
}

.button:after {
    position: absolute;
    left: 0;
    top: 15px;
    color: white;
    opacity: 0.0;
    white-space: nowrap;
    -webkit-transition: top .15s ease-in-out, opacity .15s ease-in-out;
    -moz-transition: top .15s ease-in-out, opacity .15s ease-in-out;
    -ms-transition: top .15s ease-in-out, opacity .15s ease-in-out;
    -o-transition: top .15s ease-in-out, opacity .15s ease-in-out;
    transition: top .15s ease-in-out, opacity .15s ease-in-out;
}

#insert-tag:after {
    content: "Insert a tag of current time to current line (Alt + Z)";
}

#replace-tag:after {
    content: "Replace tags in current line with a tag of current time (Alt + X)";
}

#remove-tag:after {
    content: "Remove all tags in current line (Alt + C)";
}

.button:hover:after {
    top: 30px;
    opacity: 1.0;
}

[contenteditable="true"]:active, [contenteditable="true"]:focus {
    border: none;
    outline: none;
}