html, body {
    margin: 0;
    height: 100%;
}

#side {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    min-width: 350px;
    max-width: 600px;
    background-image: url(../assets/chalkboard.jpg);
    background-repeat: repeat;
    color: #eee;
}

#side .brand-wrap {
    margin: auto 40px auto auto;
    font-family: 'Cabin Sketch', cursive;
}

#side .brand-wrap .alt-font {
    font-family: 'Love Ya Like A Sister', cursive;
}

#side .brand {
    font-size: 80px;
}

#side .brand-sub {
    font-size: 20px;
}

#side .social-media-links {
    padding: 0;
}

#side .social-media-links li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#side .social-media-links a {
    color: #eee;
}

#side .social-media-links a:hover {
    color: #66ccff;
}

#side .social-media-links i.fa {
    font-size: 20px;
}

#main {
    height: 100%;
}

#main .spacer {
    float: left;
    width: 40%;
    min-width: 350px;
    max-width: 600px;
    height: 1px;
}

#main .content {
    height: 100%;
    overflow: hidden;
    background-color: black;
}

#main .test {
    
}