@font-face {
    font-family: 'Lato';
    src: url(http://caiyi.tech/vault/fonts/Lato/Lato-Regular.ttf);
}


:root {
    --main-color: #4787a7;
}


html, body {
    margin: 0;
    height: 100%;
    background-color: #eee;
    color: #333;
    font-family: 'Lato', 'Microsoft YaHei', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.inner-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    flex: 0 0 350px;
    background-color: #333;
    color: #ddd;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', 'Microsoft YaHei', sans-serif;
    font-weight: normal;
    margin: 0;
}

h1 {
    letter-spacing: 3px;
    font-size: 3.5em;
}

h2 {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.left {
    flex: 0 0 35%;
    text-align: right;
    padding: 0 50px;
    box-sizing: border-box;
}

.right {
    flex: 0 0 65%;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: color 0.25s;
    color: var(--main-color);
}

a:hover {
    text-decoration: underline;
}

header .inner-wrapper {
    height: 100%;
    position: relative;
}

header .inner-wrapper ul.lang-switch {
    position: absolute;
    right: 50px;
}

header .inner-wrapper ul.lang-switch {
    list-style: none;
    padding: 0;
}

header .inner-wrapper ul.lang-switch li {
    display: inline-block;
    margin-left: 15px;
}

header .inner-wrapper ul.lang-switch li.active a {
    color: #ddd;
}

header .inner-wrapper ul.lang-switch a {
    color: #666;
}

header .inner-wrapper ul.lang-switch a:hover {
    color: #ddd;
    text-decoration: none;
}

header .left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

header .right {
    display: flex;
    align-items: center;
}

header .left img {
    border-radius: 50%;
    height: 200px;
}

header h1 a {
    color: #ddd;
}

header h1 a:hover {
    color: var(--main-color);
    text-decoration: none;
}

main {
    flex: 1 0 auto;
    line-height: 25px;
}

main .left, main .right {
    padding-top: 50px;
}

main .left section {

}

main .right section {

}

section {
    margin-bottom: 50px;
}

ul.contacts .contact-item-icon::before {
    content: '\00a0<\00a0';
}

dl {
    margin: 0;
}

dl dt {

}

dl dd {

}

ul.clean {
    list-style: none;
    padding: 0;
}


section.itemized .item-wrapper {
    padding-left: 30px;
    border-left: 2px solid #ccc;
}

section.itemized .item-wrapper .item {
    margin-bottom: 30px;
    position: relative;
}

section.itemized .item-wrapper .item:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -35px;
    background-color: #eee;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 6px #ccc;
}

section.itemized .item-wrapper .item .item-title {
    font-size: 1.25em;
}

section.itemized .item-wrapper .item .item-subtitile {
    color: #888;
}

section.itemized .item-wrapper .item .item-subtitle-2 {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 15px;
}

section.itemized .item-wrapper .item .item-content {
    margin-bottom: 15px;
}

section.itemized .item-wrapper .item .item-footer {
    font-size: 0.8em;
    color: #888;
}

section.itemized-simple .item {
    margin-bottom: 15px;
}

section.itemized-simple .item .item-title {

}

section.itemized-simple .item .item-subtitle {
    font-size: 0.8em;
    color: #888;
}


@media print {
    body {
        font-size: smaller;
    }
    .inner-wrapper {
        display: block;
    }
    header {
        flex: 0 0 auto;
        margin-bottom: 20px;
    }
    header h1 {
        font-size: 2em;
    }
    header .left, header .lang-switch {
        display: none;
    }
    main .left, main .right {
        padding-top: 0;
    }
    main .left {
        text-align: left;
    }
    main section {
        margin-bottom: 15px;
    }
    main section h2 {
        margin-bottom: 10px;
    }
    main section p {
        margin: 8px 0;
    }
    main section ul {
        margin: 8px 0;
    }
    main section .item-subtitle-2 {
        margin-bottom: 5px;
    }
    ul.contacts {
        columns: 3;
    }
    ul.contacts .contact-item-icon {
        float: left;
    }
    ul.contacts .contact-item-icon::before {
        content: '';
    }
    ul.contacts .contact-item-icon::after {
        content: '\00a0:\00a0\00a0';
    }
    ul.skills li {
        display: inline-block;
    }
    ul.skills li::after {
        content: ',';
    }
    ul.skills li:last-child::after {
        content: '';
    }
    .education {
        columns: 2;
    }
    section.itemized-simple .item {
        margin-bottom: 0;
    }
    section.back-to-top {
        display: none;
    }
}
