@font-face {
    font-family: 'Lato';
    src: url(http://caiyi.us/vault/fonts/Lato/Lato-Regular.ttf);
}


:root {
    --main-color: #a52d1a;
}


html, body {
    margin: 0;
    height: 100%;
    background-color: #eee;
    color: #333;
    font-family: 'Lato', 'Microsoft YaHei', sans-serif;
    line-height: 25px;
}

body {
    display: flex;
    flex-direction: column;
}

.inner-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    flex: 0 0 350px;
    background-color: #333;
    color: #ddd;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', 'Microsoft YaHei', sans-serif;
    font-weight: normal;
    margin: 0;
}

h1 {
    letter-spacing: 3px;
    font-size: 3.5em;
    margin-bottom: 20px;
}

h2 {
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.left {
    flex: 0 0 35%;
    text-align: right;
    padding: 0 50px;
    box-sizing: border-box;
}

.right {
    flex: 0 0 65%;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: color 0.25s;
    color: var(--main-color);
}

a:hover {
    text-decoration: underline;
}

header .inner-wrapper {
    height: 100%;
}

header .left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

header .right {
    display: flex;
    align-items: center;
}

header .left img {
    border-radius: 50%;
    height: 200px;
}

main {
    flex: 1 0 auto;
}

main .left, main .right {
    padding-top: 50px;
}

main .left section {
    max-width: 350px;
    margin-left: auto;
}

main .right section {
    max-width: 650px;
}

section {
    margin-bottom: 50px;
}

main ul {
    list-style: none;
    padding: 0;
}

main ul.horizontal-icons li {
    display: inline-block;
    font-size: 1.5em;
    margin-left: 5px;
}

main ul.horizontal-icons a {
    color: #333;
}

main ul.horizontal-icons a:hover {
    color: var(--main-color);
}


section.itemized .item-wrapper {
    padding-left: 30px;
    border-left: 2px solid #ccc;
}

section.itemized .item-wrapper .item {
    margin-bottom: 30px;
    position: relative;
}

section.itemized .item-wrapper .item:before {
    content: '';
    position: absolute;
    top: 6px;
    left: -35px;
    background-color: #eee;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    box-shadow: 0 0 0 6px #ccc;
}

section.itemized .item-wrapper .item .item-title {
    font-size: 1.25em;
}

section.itemized .item-wrapper .item .item-subtitile {
    color: #888;
}

section.itemized .item-wrapper .item .item-subtitle-2 {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 15px;
}

section.itemized .item-wrapper .item .item-content {
    margin-bottom: 15px;
}

section.itemized .item-wrapper .item .item-footer {
    font-size: 0.8em;
    color: #888;
}
